@if (isLoading) {
<div id="pause" class="d-flex align-items-center justify-content-center">
    <div id="spinner"></div>
</div>
}

<div class="main">
    <div class="search d-flex">
        <input type="text" [(ngModel)]="query" class="form-control search-box" placeholder="Search..." />
    </div>
    <div class="t">
        OR
    </div>
    <div class="img-container">
        @if (image === '') {
        <label for="file">
            <div style="font-size: 15px;" id="file-placeholder">
                <img src="/assets/pic.svg" width="30px" alt="Media" class="pb-2">
                <b><br>Add your dish's pic</b>
            </div>
            <input type="file" accept="image/jpeg, image/png, image/jpg" name="file" id="file"
                style="display: none; padding-bottom:10px" (change)="upload($event)">
        </label>
        } @else {
        <div class="img">
            <img [src]="image" alt="Dish" class="img-fluid pic" />
            <button type="button" (click)="removeImg()" class="rm-btn">
                <svg width="25px" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 122.88 122.88">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #f44336;
                                fill-rule: evenodd;
                            }
                        </style>
                    </defs>
                    <title>close-red</title>
                    <path class="cls-1"
                        d="M61.44,0A61.44,61.44,0,1,1,0,61.44,61.44,61.44,0,0,1,61.44,0ZM74.58,36.8c1.74-1.77,2.83-3.18,5-1l7,7.13c2.29,2.26,2.17,3.58,0,5.69L73.33,61.83,86.08,74.58c1.77,1.74,3.18,2.83,1,5l-7.13,7c-2.26,2.29-3.58,2.17-5.68,0L61.44,73.72,48.63,86.53c-2.1,2.15-3.42,2.27-5.68,0l-7.13-7c-2.2-2.15-.79-3.24,1-5l12.73-12.7L36.35,48.64c-2.15-2.11-2.27-3.43,0-5.69l7-7.13c2.15-2.2,3.24-.79,5,1L61.44,49.94,74.58,36.8Z" />
                </svg>
            </button>
        </div>
        }
    </div>
    @if (query !== '') {
    <div class="dish d-flex justify-content-center align-items-center">
        <h2>
            Dish: {{ query }}
        </h2>
        <button class="search-button" (click)="onClickSearch()">
            <fa-icon [icon]="faSearch"></fa-icon>
        </button>
    </div>
    }
</div>

<div id="context"></div>
@if (dish !== ''){
<app-context (contextChange)="setContext($event)"></app-context>
}
<div id="recipe"></div>
@if (ingredients.length > 0) {
<app-recipe [ingredients]="ingredients" [instructions]="instructions"></app-recipe>
}