@import '../../styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 3em 0;

    .search {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2em;

        input {
            width: 50%;
            padding: 1em;
            font-size: 1.2em;
            border-radius: 5px;
            border: 1px solid gray;
            outline: none;
        }

        textarea {
            width: 80%;
            padding: 1em;
            font-size: 1.2em;
            border-radius: 5px;
            border: 1px solid gray;
            outline: none;
        }
    }
}

#spinner {
    -webkit-animation: frames 1s infinite linear;
    animation: frames 1s infinite linear;
    background: transparent;
    border: 1.75vw solid #FFF;
    border-radius: 100%;
    border-top-color: #DF691A;
    width: 10vw;
    height: 10vw;
    opacity: .6;
    padding: 0;
    position: absolute;
    z-index: 999;
}

@keyframes frames {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

#pause {
    display: block;
    background:
        rgba(0, 0, 0, 0.66) no-repeat 0 0;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

@media screen and (max-width: 680px) {
    .main {
        .search {
            input {
                width: 80%;
            }
        }
    }
}